@import "https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  min-height: 100vh;
  font-size: 14px;
  font-family: Pretendard;
}

a {
  text-decoration: none;
}

.inner {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.inner__first {
  width: 1060px;
  margin: 33px auto 0;
  position: relative;
}

.inner__second {
  width: 980px;
  margin: 22px auto 0;
  position: relative;
}

.page-title {
  font-size: 24px;
  font-weight: 700;
  color: #4b4b4b;
}
