.detail-class {
  padding-top: 66px;
  margin-top: 43px;
}

.class__headInfo {
  height: 350px;
  display: flex;
  gap: 24px;
}

.class__headInfo .headInfo__imgSpace {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.25);
}

.class__headInfo .headInfo__InfoSpace {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.25);
  padding: 36px 20px 46px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: relative;
}

.headInfo__InfoSpace .class__manage {
  position: absolute;
  top: -30px;
  right: 10px;

  display: flex;
  gap: 14px;
}

.class__manage .manage__menu {
  display: flex;
  align-items: center;
  gap: 6px;

  font-weight: normal;
  font-size: 14px;
  color: #4b4b4b;

  cursor: pointer;
}

.headInfo__InfoSpace .info {
  text-align: center;
  padding-bottom: 24px;
  border-bottom: 1px solid #ff7c9b;
}

.info .info__club {
  font-weight: 600;
  font-size: 18px;
  color: #4b4b4b;
}

.info .info__name {
  margin-top: 14px;
  font-weight: bold;
  font-size: 30px;
  color: #4b4b4b;
}

.info .info__oneLineInfo {
  margin-top: 14px;
  font-size: 18px;
}

.participateSpace {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.participateSpace p {
  font-size: 14px;
  color: #707070;
  margin-bottom: 9px;
}

.participateSpace .participateBtn {
  width: 332px;
  height: 56px;
  font-weight: 800;
  font-size: 18px;
  color: #ffffff;
  background: #ff93ac;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.participateSpace .participateBtn:hover {
  background: #ff7c9b;
}

.class__bodyInfo {
  margin-top: 50px;
  padding-bottom: 60px;

  display: flex;
  flex-direction: column;
  align-items: center;

  white-space: pre;
}

.class__bodyInfo h2 {
  padding-bottom: 11px;
  width: 262px;
  border-bottom: 1px solid #ff7c9b;
  color: #4b4b4b;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.class__bodyInfo p {
  margin-top: 32px;
  width: 100%;
  padding: 50px;
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #4b4b4b;
}
